# **Análise dos desembolsos do BNDES e do impacto de seus investimentos na agropecuária brasileira**
## **TIME 13**
### **Equipe:**
- **Bernardo Mendonça** (Graduando em Engenharia Nuclear - UFRJ)
- **Erica Ferreira** (Graduando em Engenharia de Controle e Automação - UFRJ)
- **Pedro Boechat** (Graduando em Engenharia de Computação de Informação - UFRJ)
- **Pedro Paixão** (Graduado em Matemática Aplicada - UFRJ)
- **Rodrigo Benoliel** (Graduando em Engenharia Elétrica - UFRJ)

<hr>

# **1. Introdução**
## **O que é o BNDES? Quais são suas funções? Como opera?**
### Ao longo das últimas décadas, o crescimento de diferentes segmentos da economia brasileira vem sido apoiado pelo Banco Nacional de Desenvolvimento Social (BNDES). Essa instituição pública consiste em um dos maiores bancos de desenvolvimento do mundo e possui como missão viabilizar soluções que adicionem investimentos para o desenvolvimento sustentável da nação brasileira.
### O BNDES apoia empreendedores de todos os portes e em todos os segmentos da economia brasileira, tendo em vista a possibilidade de geração de empregos, renda e de inclusão social para o Brasil. Esse suporte, por sua vez, se dá por meio de financiamento a investimentos, subscrição de valores mobiliários, prestação de garantia e concessão de recursos não reembolsáveis a projetos de caráter social, cultural e tecnológico. A decisão pela concessão ou não de um apoio é realizada por meio de avaliações técnicas, nos quais se avaliam o potencial impacto e inovação da proposta, além de outros aspectos de cunho financeiro e socioambiental.
## **O Plano de Dados Abertos e o BNDES**
### Considerando a responsabilidade e a fundamental importância do BNDES para o desenvolvimento nacional, a instituição recentemente aderiu à Política de Dados Abertos do Poder Executivo Federal, com a publicação do **Plano de Dados Abertos do BNDES**. Essa decisão possibilita estabelecer diretrizes e planos de ação para gerar dados estruturados e de fácil acesso ao grande público, garantindo maior transparência às ações da instituição e fomentando o uso desses dados pela população em geral.
### Tendo em vista as motivações apresentadas anteriormente, o BNDES lançou recentemente o **Prêmio Dados Abertos**. Esse evento, de caráter competitivo, tem por objetivo incentivar o uso dos dados abertos do BNDES para criar novas ferramentas de análise de informações para a instituição. As produções devem ser desenvolvidas por grupos de até cinco pessoas e publicadas até o dia 31/08/2021, utilizando ao menos uma das bases disponibilizadas em sua plataforma.

# **2. Apresentação do problema e objetivos**
### Apesar da importância do BNDES ser historicamente conhecida, informações acerca dos efeitos a curto e longo prazo dos investimentos para os diferentes setores da indústria e para os diferentes municípios do país ainda são limitadas. Como algumas razões para essa pouca compreensão, pode-se citar a complexidade do problema e a grande variedade de contextos socioeconômicos específicos a cada uma das empresas, que por sua vez afetará seus desempenhos. Por outro lado, uma melhor compreensão dos resultados desse apoio nas diferentes pode consistir em uma ferramenta importante para decidir quais empresas apoiar em futuros e para estabelecer estratégias para que os novos investimentos sejam mais efetivos.
### A existência do Portal de Dados Abertos, nesse sentido, mostra-se como uma oportunidade para melhor compreender as dinâmicas de investimento do BNDES e seus resultados. Dessa forma, buscando compreender melhor o papel do BNDES no desenvolvimento socioeconômico em diferentes setores da sociedade brasileira, a presente análise tem por objetivo avaliar a distribuição dos investimentos realizados pela instituição em diferentes áreas e seu impacto para o aumento da produção dos empreendedores. Além disso, busca-se entender a relação entre o nível de inovação da empresa, o apoio recebido pelo BNDES e os resultados obtidos nos últimos anos. Em particular, o caso do setor agropecuário será analisado de forma mais específica, considerando seu caráter fundamental no desenvolvimento nacional e na projeção mundial do Brasil em termos tecnológicos e econômicos.

# **3. Metodologia**
## **a) Tecnologia**
### A análise requereu um estudo aprofundado dos dados, incluindo a manipulação das tabelas, aplicação de métodos estatísticos e construção de gráficos. Para que isso se tornasse viável, foi necessário o uso de linguagem de programação adequada para fins de Ciência de Dados. Como alternativa proeminente na área, escolheu-se utilizar Python [versão do nb final aqui]. Embarcado nessa tecnologia, foram utilizadas as bibliotecas:
`Manipulação de arquivos:`

In [2]:
import os
from zipfile import ZipFile

`Manipulação de dados:`

In [3]:
import pandas as pd

# Formatação da representação de números de ponto flutuante
pd.options.display.float_format = "{:,.2f}".format

`Instrumental matemático:`

In [4]:
import numpy as np

`Construção de gráficos:`

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

## **b) Dados**
### **Desembolsos mensais - BNDES ([FONTE](https://dadosabertos.bndes.gov.br/dataset/desembolsos-mensais))**
### Sabe-se que as atividades do BNDES abrangem uma série de operações em diversos ramos do mercado financeiro brasileiro. Como tal, os dados disponíveis no Portal de Dados Abertos da instituição são amplos nesse contexto e oferecem um largo escopo de estudo. Foi decidido, porém, focar na base de Desembolsos Mensais. Essa escolha se deve ao fato de que esse constitui a maior coleção de informações em série temporal, apresentando maior potencial de análise e resultados tendo em vista o objetivo do projeto.

In [6]:
desembolsos_df = pd.read_csv("./data/desembolsos-mensais.zip", encoding="UTF-8", sep=";", decimal=",")

### A base condensa dados referentes aos desembolsos de crédito do BNDES, diretos ou indiretos, a beneficiários de diversos setores econômicos de localização geográfica definida de 1995 a 2020. Sua estrutura consiste em um arquivo CSV (Comma Separated Values) de 16 colunas, com valores dos seguintes tipos:

In [26]:
print(desembolsos_df.info())
desembolsos_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3244804 entries, 0 to 3244803
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ano                     int64
 1   mes                     int64
 2   forma_de_apoio          object
 3   produto                 object
 4   instrumento_financeiro  object
 5   inovacao                object
 6   porte_de_empresa        object
 7   regiao                  object
 8   uf                      object
 9   municipio               object
 10  municipio_codigo        int64
 11  setor_cnae              object
 12  subsetor_cnae_agrupado  object
 13  setor_bndes             object
 14  subsetor_bndes          object
 15  desembolsos_reais       float64
dtypes: float64(1), int64(3), object(12)
memory usage: 396.1+ MB
None

,ano,mes,forma_de_apoio,produto,instrumento_financeiro,inovacao,porte_de_empresa,regiao,uf,municipio,municipio_codigo,setor_cnae,subsetor_cnae_agrupado,setor_bndes,subsetor_bndes,desembolsos_reais
0,2010,9,DIRETA,BNDES MERCADO DE CAPITAIS,MERCADO DE CAPITAIS,NÃO,GRANDE,SUDESTE,RIO DE JANEIRO,RIO DE JANEIRO,3304557,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,"24,753,538,073.60"
1,2009,7,DIRETA,BNDES FINEM,PROGRAMA PETROBRAS,NÃO,GRANDE,NORDESTE,PERNAMBUCO,IPOJUCA,2607208,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,"9,889,997,969.99"
2,2009,7,DIRETA,BNDES FINEM,PROGRAMA PETROBRAS,NÃO,GRANDE,SUDESTE,RIO DE JANEIRO,DIVERSOS,9999998,INDÚSTRIA DE TRANSFORMAÇÃO,"COQUE, PETRÓLEO E COMBUSTÍVEL",INDUSTRIA,QUÍMICA E PETROQUÍMICA,"9,409,998,497.06"
3,2012,12,DIRETA,BNDES FINEM,PROINVESTE,NÃO,GRANDE,CENTRO OESTE,DISTRITO FEDERAL,DIVERSOS,9999998,COMÉRCIO E SERVIÇOS,ADMINISTRAÇÃO PÚBLICA,COMÉRCIO E SERVIÇOS,COMÉRCIO E SERVIÇOS,"7,271,078,745.30"
4,2009,7,DIRETA,BNDES FINEM,PROGRAMA PETROBRAS,NÃO,GRANDE,SUDESTE,RIO DE JANEIRO,DIVERSOS,9999998,COMÉRCIO E SERVIÇOS,TRANSPORTE TERRESTRE,INFRAESTRUTURA,OUTROS TRANSPORTES,"5,699,997,243.57"

### Mais detalhes acerca de cada um dos parâmetros podem ser encontrados no dicionário de dados presente na fonte.

### **Produção Agrícola Municipal (PAM) - IBGE ([FONTE](https://sidra.ibge.gov.br/tabela/5457))**
### Apesar da qualidade e completude dos dados de desembolsos disponíveis no Portal de Dados Abertos, faltava para a análise uma métrica de resultado que permitisse o estudo de retorno de tais investimentos. Como postulado na introdução, será desenvolvido o interesse pelo setor agropecuário. Assim, identificou-se a base de dados da Produção Agrícola Municipal (PAM), disponível pelo IBGE, constituindo uma fonte apropriada e confiável para a análise.

In [8]:
pam_df = pd.read_csv("./data/PAM.zip", sep=";")

### Por meio da fonte, foram selecionadas todas as variáveis disponíveis e filtrados apenas os produtos totais das lavouras para cada município brasileiro entre os anos de 1990 e 2019. Devido à plataforma que exporta os dados, estes apresentavam algumas inconsistências, que foram corrigidas no arquivo `pam_formatting.ipynb`. O produto final dessa correção é um CSV com 8 colunas de tipos:

In [9]:
print(pam_df.info())
pam_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166890 entries, 0 to 166889
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   municipio_codigo        166890 non-null  int64
 1   ano                     166890 non-null  int64
 2   area_plantada           159452 non-null  float64
 3   area_colhida            159379 non-null  float64
 4   valor_reais             141062 non-null  float64
 5   valor_cruzeiros         13395 non-null   float64
 6   valor_cruzeiros_reais   4923 non-null    float64
 7   razao_colheita_plantio  159379 non-null  float64
dtypes: float64(6), int64(2)
memory usage: 10.2 MB
None

,municipio_codigo,ano,area_plantada,area_colhida,valor_reais,valor_cruzeiros,valor_cruzeiros_reais,razao_colheita_plantio
0,1100015,1990,22275.0,22275.0,NaN,462257.0,NaN,1.0
1,1100015,1991,23005.0,23005.0,NaN,2423889.0,NaN,1.0
2,1100015,1992,36020.0,36020.0,NaN,41232411.0,NaN,1.0
3,1100015,1993,38360.0,38360.0,NaN,NaN,1079677.0,1.0
4,1100015,1994,42899.0,42899.0,14864.0,NaN,NaN,1.0

# **4. Análise da base '`Desembolsos mensais`'**
### A exploração de dados foi iniciada pelo estudo da tabela Desembolsos Mensais. Por ela conter dados majoritariamente categóricos, considerou-se de interesse estudar os valores de investimentos agregados sob essas diferentes categorias, e resultados relevantes foram levantados.
### O primeiro fato interessante identificado foi o fato de que os municípios de mais alto investimento médio não correspondem a grandes centros econômicos nacionais, mas sim de áreas predominantemente rurais. Devido à capacitação realizada na competição, tinha-se noção de que o BNDES realiza grandes financiamentos agrônomos, e a observação dos números tornou esse fato muito mais evidente.

### Tendo em vista o propósito do BNDES, e conscientes de sua posição favorável frente a micro e pequenas empresas, visualizaram-se os valores investidos agregados aos portes dos beneficiários. Como esperado, notou-se que em geral o valor médio concedido a grandes empresas é superior ao de menores. Porém, surpreendentemente, o número de financiamentos de empresas de micro porte é tão alto que seu investimento absoluto chega a ultrapassar o de pequenas e médias.

- **Tabela de investimentos por município (todos os anos)**

In [27]:
# Formatação da representação de números de ponto flutuante
pd.options.display.float_format = "{:,.2f}".format

# Tabela de investimentos por município (todos os anos)
desembolso_por_municipio = desembolsos_df[["municipio", "uf", "regiao", "desembolsos_reais"]].groupby(["municipio"]).agg(uf=("uf", "first"), regiao=("regiao", "first"), numero_investimentos=("desembolsos_reais", "count"), soma_investimentos=("desembolsos_reais", "sum")).reset_index()
desembolso_por_municipio["investimento_medio"] = desembolso_por_municipio["soma_investimentos"]/desembolso_por_municipio["numero_investimentos"]
desembolso_por_municipio = desembolso_por_municipio.sort_values(by="investimento_medio", ascending=False)
desembolso_por_municipio.head(10)

,municipio,uf,regiao,numero_investimentos,soma_investimentos,investimento_medio
1433,CURRAL NOVO DO PIAUI,PIAUI,NORDESTE,4,"828,193,336.41","207,048,334.10"
851,CALDEIRAO GRANDE DO PIAUI,PIAUI,NORDESTE,4,"164,948,704.73","41,237,176.18"
2806,MARCOLANDIA,PIAUI,NORDESTE,12,"464,779,902.21","38,731,658.52"
77,AGUIARNOPOLIS,TOCANTINS,NORTE,113,"3,411,425,385.60","30,189,605.18"
3522,PEDRA GRANDE,RIO GRANDE DO NORTE,NORDESTE,17,"474,473,584.60","27,910,210.86"
3440,PARAZINHO,RIO GRANDE DO NORTE,NORDESTE,39,"957,080,861.36","24,540,534.91"
1691,FERREIRA GOMES,AMAPA,NORTE,49,"1,119,455,751.93","22,846,035.75"
5085,UMBURANAS,BAHIA,NORDESTE,58,"1,263,755,393.16","21,788,886.09"
4739,SERRA DO MEL,RIO GRANDE DO NORTE,NORDESTE,29,"564,772,788.89","19,474,923.75"
2135,IPOJUCA,PERNAMBUCO,NORDESTE,1113,"21,430,024,921.86","19,254,290.14"

- **Tabela de investimentos por porte de empresa**

In [28]:
# Tabela de investimentos por porte de empresa (todos os anos)
desembolso_por_porte = desembolsos_df[["porte_de_empresa", "desembolsos_reais"]].groupby(["porte_de_empresa"]).agg(numero_investimentos=("desembolsos_reais", "count"), soma_investimentos=("desembolsos_reais", "sum")).reset_index()
desembolso_por_porte["investimento_medio"] = desembolso_por_porte["soma_investimentos"]/desembolso_por_porte["numero_investimentos"]
desembolso_por_porte = desembolso_por_porte.sort_values(by="soma_investimentos", ascending=False)
desembolso_por_porte.head()

,porte_de_empresa,numero_investimentos,soma_investimentos,investimento_medio
0,GRANDE,266732,"1,356,754,840,749.88","5,086,584.44"
1,MICRO,1943576,"253,535,192,571.85","130,447.79"
2,MÉDIA,334967,"189,261,530,730.15","565,015.45"
3,PEQUENA,699529,"147,661,023,200.94","211,086.35"

### As observações até então indicam grande atuação do BNDES em áreas não-urbanas e em empresas não necessariamente de grande porte. Para ter mais clareza acerca desta hipótese, analisou-se o comportamento dos investimentos tendo em mente o tamanho e setor CNAE dos beneficiários. O resultado apoiou a suposição, com a presença forte de empresas médias, pequenas e micros de agropecuária e indústria extrativa nos maiores financiamentos médios.