In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("./data/PAM.zip", encoding="UTF-8", sep=";", decimal=",")
df.head()

,codigo_municipio,ano,area_plantada,area_colhida,valor_reais,valor_cruzeiros,valor_cruzeiros_reais,razao_plantio_colheita
0,1,1990,53152446.0,50514696.0,NaN,1.722709e+09,NaN,0.9503738736689559
1,1,1991,51753078.0,50643873.0,NaN,8.740094e+09,NaN,0.9785673617325717
2,1,1992,52273579.0,50714599.0,NaN,1.037775e+11,NaN,0.9701765207237867
3,1,1993,49226752.0,46629302.0,NaN,NaN,2.111804e+09,0.947234991250286
4,1,1994,52815030.0,51354033.0,27500582.0,NaN,NaN,0.9723374766614731